# Node.js dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist
build

# Temporary files
temp
tmp

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Coverage files
coverage/

# Optional npm cache directory
.npm

# Yarn dependencies
yarn-error.log
